.custom-select-container {
  display: inline-block;
  min-width: 250px;
  text-align: center;
  position: relative;
  user-select: none;
  cursor: pointer;
}

.selected-text {
  padding: 12px 20px;
  text-align: left;
}

.selected-text::after {
  content: '';
  position: absolute;
  right: 10px;
  top: 18px;
  border: 7px solid transparent;
  border-color: #c6c6c6 transparent transparent transparent;
}

.selected-text.active::after {
  top: 8px;
  border-color: transparent transparent #c6c6c6 transparent;
}

ul {
  margin: 0;
  padding: 0;
  /* text-align: center; */
  text-align: left;
}

.select-options {
  position: absolute;
  left: -1px;
  right: -1px;
  border-left: 1px solid #382e2d;
  border-right: 1px solid #382e2d;
  background: white;
  padding-bottom: 50px;
}

li {
  list-style-type: none;
  padding: 10px 20px;
  background: #ffffff;
  cursor: pointer;
  border-top: 1px solid #c6c6c6;
}

li:hover {
  background-color: #382e2d;
  color: #ffffff;
}
